.WrongRoute {
	position:relative;
	height:50em;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.WrongRoute__Img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.WrongRoute__Img h2 {
	color:#494949;
	font-size: 10em;
	line-height: 0em;
	font-family: 'Chivo', sans-serif;
	font-weight: 900;
}

.WrongRoute__Img h3 {
	color:#494949;
	line-height: 0em;
	margin-top:-1.5em;
	font-size: 1.5em;
	font-weight: 900;
	font-family: 'Chivo', sans-serif;
}

.WrongRoute__Img p {
	font-size: 1.2em;
	font-weight: 400;
	font-family: 'Asul', sans-serif;
}