.Home {
	position: relative;
	width:100%;
}

.Home__ImgArea {
	position: relative;
	width:100%;
	height: 100%;
}

.Home__ImgArea--Img {
	position: relative;
	width:100%;
	height:35em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Home__ImgArea--Img:after {
	content:'';
	position: absolute;
	width:100%;
	height: 100%;
	background-color:#000;
	opacity: 0.2;
	mix-blend-mode: multiply;
}

.Home__ImgArea--Img:nth-child(1) {
	background-image:url('http://localhost:3000/./assets/home-img/01.jpg');
	opacity: 0;
}

.Home__ImgArea--Img:nth-child(2) {
	background-image:url('http://localhost:3000/./assets/home-img/02.jpg');
	position: absolute;
	top:0;
	opacity: 0;
}

.Home__ImgArea--Img:nth-child(3) {
	background-image:url('http://localhost:3000/./assets/home-img/03.jpg');
	position: absolute;
	top:0;
	opacity: 0;
}

.Home__ImgArea--Img h2 {
	font-family: 'Chivo', sans-serif;
	color:#fff;
	font-size: 4em;
	z-index: 999;
}

.Home__ImgArea--Img h2 span {
	color:#000;
}

.Home__InfoArea {
	width:100%;
	height: 15em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Home__InfoArea h2 {
	position: relative;
	font-family: 'Chivo', sans-serif;
	color:#000;
	font-size: 3em;
	font-weight: 900;
	line-height: 0em;
	z-index: 999;
	text-align: center;
}

.Home__InfoArea h2:after {
	content: '';
	position: absolute;
	width:5em;
	height: 0.05em;
	background-color:#000;
	left:50%;
	transform:translateX(-50%);
	margin-top:0.7em;
}

.Home__InfoArea p {
	width:50em;
	font-family: 'Asul', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	line-height: 1.5em;
	text-align: center;
}