.Footer {
	position:relative;
	width:100%;
	bottom:0;
	height:10em;
	background-color:#000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}
.Footer .Footer__Copyright {
	width:45em;
	position: relative;
	left:50%;
	transform:translateX(-50%);
	text-align: right;
	margin: 10px 0 0 20px;
}

.Footer .Footer__Copyright h2 {
	color:#494949;
	font-size: 0.8em;
	font-family: 'Chivo', sans-serif;
	font-weight: 400;
}

.Footer .Footer__Copyright h2 span {
	color:#fff;
}

.Footer .Footer__Copyright p {
	text-align: right;
	color:#fff;
	font-size: 0.6em;
	font-family: 'Asul', sans-serif;
	opacity: 0.4;
}