.FeaturedExample {
	width:18em;
	height:25em;
	background-color:#E0E0E0;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 60% 40%;
	grid-template-rows: 60% 40%;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	margin:0 0.5em;
	border-radius: 0.3em;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);
	        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);
	cursor: pointer;
}.FeaturedExample > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}.FeaturedExample > *:nth-child(2) {
	-ms-grid-row:2;
	-ms-grid-column:1;
}
.Featured__Example--Img {
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Featured__Example--Img:after {
	content:'';
	display: block;
	position: absolute;
	width:100%;
	height: 100%;
	background-color:#000;
	opacity: 0.1;
}

.FeaturedExample:hover .Featured__Example--Img:after {
	opacity: 0;
}

.Featured__Example__Info {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows:70% 30%;
	grid-template-rows:70% 30%;
}

.Featured__Example__Info > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}

.Featured__Example__Info > *:nth-child(2) {
	-ms-grid-row:2;
	-ms-grid-column:1;
}

.Featured__Example__Info .Info--Top {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows:1fr 1fr;
	grid-template-rows:1fr 1fr;
}

.Featured__Example__Info .Info--Top > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}

.Featured__Example__Info .Info--Top > *:nth-child(2) {
	-ms-grid-row:2;
	-ms-grid-column:1;
}

.Featured__Example__Info .Info--Top .Header {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-ms-grid-rows:1fr;
	grid-template-rows:1fr;
}

.Featured__Example__Info .Info--Top .Header > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}

.Featured__Example__Info .Info--Top .Header > *:nth-child(2) {
	-ms-grid-row:1;
	-ms-grid-column:2;
}

.Featured__Example__Info .Info--Top .Header > *:nth-child(3) {
	-ms-grid-row:1;
	-ms-grid-column:3;
}

.Featured__Example__Info .Info--Top .Header div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.Featured__Example__Info .Info--Top .Header h2 {
	font-size: 1.5em;
	line-height: 0em;
	margin-left: 0.5em;
	color:#000;
	white-space: nowrap;
	font-family: 'Asul', sans-serif;
}
.Featured__Example__Info .Info--Top .Header p {
	font-size: 0.8em;
	line-height: 0em;
	color:#494949;
	font-family: 'Chivo', sans-serif;
}

.Featured__Example__Info .Info--Top .Info p {
	font-size: 1.1em;
	line-height: 0em;
	margin-left: 1em;
	color:#000;
	font-family: 'Asul', sans-serif;
}

.Featured__Example__Info .Info--Bottom {
	background-color:#FFD23F;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-ms-grid-rows:1fr;
	grid-template-rows:1fr;
}

.Featured__Example__Info .Info--Bottom > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}

.Featured__Example__Info .Info--Bottom > *:nth-child(2) {
	-ms-grid-row:1;
	-ms-grid-column:2;
}

.Featured__Example__Info .Info--Bottom > *:nth-child(3) {
	-ms-grid-row:1;
	-ms-grid-column:3;
}

.Featured__Example__Info .Info--Bottom .City {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.Featured__Example__Info .Info--Bottom .City h4 {
	font-size: 0.6em;
	line-height: 0em;
	color:#000;
	font-family: 'Asul', sans-serif;
}
.Featured__Example__Info .Info--Bottom .Link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.Featured__Example__Info .Info--Bottom .Link h4 {
	font-size: 0.6em;
	line-height: 0em;
	color:#000;
	font-family: 'Asul', sans-serif;
	cursor: pointer;
}

.Featured__Example__Info .Info--Bottom .Link h4:hover {
	color:#fff;
}