.TopMenu {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 99999;
	display: grid;
	overflow: hidden;
	grid-template-rows: 4em 1fr;
	transition:height 0.5s ease-out;
}

.TopMenu:after {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--1);
	z-index: -1;
	opacity: 0.9;
}

.TopMenu .TopMenu__Top {
	position: relative;
	display: grid;
	grid-template-columns: 5em 1fr 5em;
	grid-template-rows: 1fr;
}

.TopMenu .TopMenu__Top .TopMenu__Top--Logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-image:url('http://localhost:3000/./assets/icons/browser-logo.png');
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}

.TopMenu__Bottom {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
}

.TopMenu__Bottom--Btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.TopMenu__Bottom--Btn a {
	position: relative;
	text-decoration: none;
	font-size:3vh;
	color:#fff;
	font-family: 'Asul', sans-serif;
	white-space: nowrap;
	transition: 0.2s linear;
}

/*.TopMenu {
	background-color: var(--2);
	width:100%;
	height:80px;
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2em 4em 1fr 8em 2em;
	border-bottom: 2px solid var(--1);
}

.TopMenu__Bottom--Logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-image:url('http://localhost:3000/./assets/icons/browser-logo.png');
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}

.TopMenu__Bottom--Phone {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	color:var(--1);
}

.TopMenu__Bottom__BtnContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.TopMenu__Bottom__BtnContainer--Btn {
	margin:1em;
}

.TopMenu__Bottom__BtnContainer--Btn a {
	position: relative;
	text-decoration: none;
	font-size: 0.8em;
	color:var(--1);
	font-family: 'Asul', sans-serif;
	white-space: nowrap;
	transition: 0.2s linear;
}

.TopMenu__Bottom__BtnContainer--Btn a:hover {
	color:var(--3);
}

.TopMenu__Bottom__BtnContainer--Btn a.active {
	color:var(--3);
}

.TopMenu__Bottom__BtnContainer--Btn a.active:after {
	content:'';
	position: absolute;
	left:50%;
	width:80%;
	height: 0.1em;
	bottom: -0.3em;
	background-color: var(--3);
	transform: translateX(-50%);
}*/