::selection {
	background-color:#000;
	color:#fff;
}

::-webkit-scrollbar {
  width:0.8em;
}
::-webkit-scrollbar-thumb {
  background:#999;
}
::-webkit-scrollbar-thumb:hover {
  background:#777;
}
::-webkit-scrollbar-thumb:active {
  background:#333;
}
::-webkit-scrollbar-track {
  background:#fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('gs://real-estate-d9a1e.appspot.com/home-screen-slideshow/funky-lines.png');
  background-position: center;
  background-size: 16em;
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
